.wrapper.overflow-hidden
  .relative{ style: "height: #{height}", data: {
        controller: "yandex-map",
        "yandex-map-lat-value": lat,
        "yandex-map-lon-value": lon,
        "yandex-map-zoom-value": zoom,
        "yandex-map-api-key-value": api_key
      }
    }
